#text-input{
 width: 50%;  
}
.list-group{
    width: 50%;
}

.flex-container{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 50%;
  align-items: center;
}
.container{
    position:fixed;
    top: 10%;
    left: 25%;
}